/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --text-color-brand: tomato;
}

/* Category-drink CSS */
.category-drink {
    width: 100%;
    height: 200%;
    padding-top: 50px;
    margin: auto;
    text-align: center;
    transition: transform linear 0.1s;
    will-change: transform;
}

.category-drink .drink-item:hover {
    border-radius: 4px;
    transform: translateY(-4px);
    box-shadow: 0px 0px 25px lightgrey;
}

.category-drink .drink-item {
    width: 20%;
    height: auto;
    display: inline-block;
    margin: 20px 8px; 
}

.category-drink .item-image {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 20px auto 12px auto;
}

.category-drink .item-name {
    padding-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
}

.category-drink .item-price {
    color: var(--text-color-brand);
    padding: 8px;
    font-size: 28px;
    font-weight: bold;
}

.category-drink .button-order:hover{
    color: white;
    background-color: var(--text-color-brand);
    cursor: pointer;
}

.category-drink .button-order{
    color: var(--text-color-brand);
    background-color: white;
    font-size: 20px;
    padding: 4px 20px;
    margin-bottom: 20px;
    border: var(--text-color-brand) solid 2px;
    border-radius: 4px;
}

.space-pagination {
    margin: 40px 0 40px 0;
}

/* Pagination CSS*/

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item {
    margin: 0 12px;
    cursor: pointer;
}

.pagination-item--active .pagination-item-link {
    color:white;
    background-color: var(--text-color-brand);
}

.pagination-item-link {
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    color: black;
    min-width: 40px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}


#pagination-index li{
    float: left;
    cursor: pointer;
}

/* Modal Order */

.modal-order {
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: flex;
    display: none;
}

div#modal-order {
    margin-bottom: 0;
}

.modal-order.open {
    display:flex;
}

.modal-order .modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.modal-order .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding:16px;
    cursor: pointer;
}

.modal-order .modal-close-icon {
    font-size: 20px;
}

.modal-order .modal-body {
    border-radius: 8px;
    background-color: white;
    padding: 40px;
    margin: auto;
    position: relative;
}

.modal-order .modal-row {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.modal-order .modal-image {
    flex-basis: 40%;
    align-items: center;
    margin: 10px;
}

.modal-order .image-item {
    width: 100%;
}

.modal-order .modal-image-price {
    text-align: center;
    color: var(--text-color-brand);
    font-size: 28px;
    font-weight: bold;
}

.modal-order .modal-info {
    margin-left: 40px;
    flex-basis: 60%;

}

.modal-order .modal-name {
    color: var(--text-color-brand);
    padding-left: 8px;
    font-size: 32px;
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 16px;
}


.modal-order .font {
    padding-left:8px;
    font-weight: bold;
    font-size: 20px;
    min-width: 112px;
    margin-bottom: 8px;
    display: inline-block;
}

.modal-order .modal-size,.modal-quantity,
.modal-note,.modal-price,.modal-order {
    margin-bottom: 12px;
}

.modal-order .size {
    align-items: center;
    padding: 8px 32px;
    margin-right: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

.modal-order span.change-qty.decrease {
    border-radius: 4px 0 0 4px;
}

.modal-order span.quantity.ng-binding {
    margin-left: -5px;
    border-left: none;
    border-right: none;
}

.modal-order span.change-qty.increase {
    border-radius: 0px 4px 4px 0px;
    margin-left: -4px;
}

.modal-order span.change-qty:hover {
    background-color: #B3B3B3;
}

.modal-order span {
    border: 1px solid #B3B3B3;
    width: 32px;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}

.modal-order #txtComment {
    padding: 8px;
}

.modal-order .modal-item-price {
    display: inline-block;
    color: var(--text-color-brand);
    font-size: 20px;
    font-weight: bold;
}

.modal-order .order-button {
    padding-left: 8px;
}

.modal-order .modal-order-button:hover {
    color:white;
    background-color: var(--text-color-brand);
}

.modal-order .modal-order-button {
    padding: 8px 32px;
    background-color: white;
    color: var(--text-color-brand);
    border: var(--text-color-brand) solid 2px;
    border-radius: 4px;
    letter-spacing: 2px;
    cursor: pointer;
}


